<% provide(:title, 'Usages') %>
<h1>Usages</h1>
<table class='table'>
  <tr>
    <th>Subscription Date</th>
    <th>User</th>
    <th>Plan</th>
    <th>Active</th>
    <th>Billing Day</th>
    <th>Actions</th>
  </tr>
  <tbody class='tbody'>
  <% @subscriptions.each { |subscription| %>
  <%=  render 'subscription', subscription: subscription  %>
  <% } %>
  </tbody>
</table>
