<table class='table table-bordered'>
  <tr>
    <th>Subscription Date</th>
    <th>User</th>
    <th>Plan</th>
    <th>Billing Day</th>
    <th>Actions</th>
  </tr>
  <tbody class='tbody'>
  <%= render 'list_subscription' %>
  </tbody>
</table>
<%= will_paginate %>
