<% provide(:title, 'Subscriptions') %>
<h1>All Subscriptions</h1>
<% if policy(:subscription).charge? %>
  <table class='table'>
    <tr>
      <th>Subscription Date</th>
      <th>User</th>
      <th>Plan</th>
      <th>Billing Day</th>
      <th>Actions</th>
    </tr>
    <tbody class='tbody'>
    <%= render @subscriptions %>
    </tbody>
  </table>
  <%= will_paginate %>
<% else %>
  <div class="row">
    <%= render @subscriptions %>
  </div>
<% end %>
