// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  max-width: 300px;
  padding: 6vh;
  padding-top: 7px !important;
  border: none;
  border-radius: 0;
  margin-bottom: 5%;
  margin-top: 5%;
  display: block;
  box-shadow: 0 0 15px #dae0e5;

  :hover {
    border: 55px;
    border-bottom-color: #730E15;
  }

}

span.text-muted {
  font-size: 12px
}
