<% provide(:title, 'Transactions') %>
<h1>All Transactions</h1>
<table class='table table-bordered'>
  <thead>
  <tr>
    <th>Transaction Date</th>
    <th>User</th>
    <th>Subscription Plan</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody class='tbody'>
    <%= render @transactions %>
  </tbody>
</table>
<%= will_paginate %>
