<table class='table table-bordered'>
  <thead>
  <tr>
    <th>Name</th>
    <th>Fee</th>
    <th>Features</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <%= render 'list_plan' %>
  </tbody>
</table>
<%= will_paginate %>
