<% provide(:title, 'Plans') %>
<h1>All Plans</h1>
<div class="row">
  <% if policy(:feature).new? %>
    <div class='col-md-2'>
      <%= button_to 'Add Plan', new_plan_path, method: :get, class: 'btn btn-primary' %>
      <br>
    </div>
  <% end %>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 well">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#grid" data-target="#grid" data-toggle="tab">Grid</a></li>
        <li><a href="#list" data-target="#list" data-toggle="tab">List</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active fade in" id="grid">
          <div class="row">
            <%= render 'grid' %>
          </div>
        </div>
        <div class="tab-pane" id="list">
          <%= render 'list' %>
        </div>
      </div>
    </div>
  </div>
</div>
