<% provide(:title, 'All users') %>
<h1>All Features</h1>
<div class='col-md-3'>
  <%= button_to 'Add New Feature', new_feature_path, method: :get, class: 'btn btn-primary' %>
  <br>
</div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Price</th>
    <th>Units</th>
    <th>Actions</th>
  </tr>
  <tbody class='tbody'>
  <%= render @features %>
  </tbody>
</table>
<%= will_paginate %>
