<footer class="footer">
<small>
Billing & Recurring Payment System &copy TYB
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
</footer>