<div class="wrapper d-flex">
  <div class="sidebar">
    <ul>
      <li><a href="#"><i class="fa fa-home"></i>Dashboard</a></li>
      <li><a href="#"><i class="fa fa-stack-exchange"></i>Features</a></li>
      <li><a href="#"><i class="fa fa-bars"></i>Plans</a></li>
      <li><a href="#"><i class="fa fa-cubes"></i>Subscriptions</a></li>
      <li><a href="#"><i class="fa fa-database"></i>Transactions</a></li>
      <li><a href="#"><i class="fa fa-tasks"></i>Usage</a></li>
      <li><a href="#"><i class="fa fa-users"></i>Users</a></li>
    </ul>
  </div>
</div>